<div class="card" style="width:288px" nm="card">
  <img data-component="img" nm="headerImage" class="card-img-top" style="width:286px; height: 100px" src="shared/static/img/1x1.png" alt="Card image cap">
  <div class="card-body" style="height: auto">
    <h5 data-component="title" data-field="" nm="title" class="card-title">Card title</h5>
    <p data-component="content" data-field="" nm="content" class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's content. </p>
  </div>
  <ul data-component="collection" data-field="" nm="items" class="list-group list-group-flush" style="color: #787878">
    <li data-collection-entry="" class="list-group-item">Cras justo odio</li>
    <li data-collection-entry="" class="list-group-item">Dapibus ac facilisis in</li>
    <li data-collection-entry="" class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a nm="link1" href="#" class="card-link">Card link</a>
    <a nm="link2" href="#" class="card-link">Another link</a>
  </div>
</div>