<script spec="view" type="application/json">
  {
    "name" : "forgotPassword",
    "type" : "page",
    "displayName": "Forgot Password",
    "nextViewName" : "ForgotPasswordForm",
    "nextViewSpecs" : [
      {
        "name" : "ForgotPasswordForm",
        "embedded" : true,
        "impl" : "Trillo.FormView",
        "elementSelector" : ".forgot-password-form",
        "postUrl" : "/_preauthsvc/user/forgotPassword"
      }
    ]
  }
</script>

<div class="trillo-root-elem">
  <!--#include file="authheader.htm" -->
  <div class="trillo-auth-application js-application">
    <div class="main-content-area auth-page">
      <div class="trillo-form-container">
        <div class="trillo-form-container-inner forgot-password-form">
          <h5 class="redo-fotgot-password trillo-display-none">
            Your last request to reset password has expired. This time limit is required to ensure security of your account.
            Please retry again. We are sorry for the inconvenience.
          </h5>
          <h4 class="trillo-form-title">
            Enter your email
          </h4>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" nm="email"
               data-validation="required, email" data-validation-error-msg-required="Enter user id">
            </div>
            <div class="form-group">
              <button tabindex="3" nm="ok" type="submit" class="btn btn-primary js-tool">Submit</button>
            </div>
          </form>
          <p>
            We will email you a password reset link. If you do not receive this email within the next few minutes, please check your spam folder.
          </p>
        </div>
        <div class="trillo-form-container-inner forgot-password-message trillo-display-none">
        	  We will send a password reset link via email. If you do not receive this email within the next few minutes, please check your spam folder.
          <br/><br/>
          <a href="/{{{orgName}}}/auth/forgotPassword">
            Click here to send the password reset link again.
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--#include file="alert.htm" -->
  <!--#include file="modal.htm" -->
  <!--#include file="footer.htm" -->
</div>
