<script spec="view" type="application/json">
  {
    "name" : "UM",
    "type" : "page",
    "controller" : "UMC",
    "nextViewName" : "UserList",
    "nextViewSpecs" : [
      {
        "name" : "UserList"
      }]
  }
</script>

<div class="trillo-application js-application" nm="Contact">
    <!--#include file="header.htm" -->

    <div class="um-tool-bar js-toolbar"
      style="">

    </div>
    <div class="main-content-area js-container" nm="main-container">
    </div>
</div>
<!--#include file="misc.htm" -->
<!--#include file="alert.htm" -->
<!--#include file="modal.htm" -->
