<div data-container="" class="trillo-container" data-category="container" name="Calendar" nm="Calendar" style="padding: 0px;">
  <div data-component="row" class="light-content-area main-row trillo-container-row" nm="mainRow" name="mainRow" tag="templateE">
    <div data-component="column" class="left-column trillo-container-column" nm="leftColumn" name="leftColumn" tag="templateE" style="flex-grow: 0; width: 240px;">
      <div data-component="row" class="trillo-container-row" nm="row_1" name="row_1">
        <div class="sidebar has-drop-zone" data-color="rose" data-background-color="black" data-image="/$org_name$/test/static/img/cust.png" nm="sidebar_1" name="sidebar_1" data-reference="sidebar" data-component="view" data-trigger="_initial_" tag="userDefined" style="flex-grow: 1;"></div>
      </div>
    </div>
    <div data-component="column" class="trillo-container-column" nm="mainContentArea" name="mainContentArea" tag="templateE">
      <div data-component="row" class="trillo-container-row" nm="row_2" name="row_2">
        <div nm="topNav_1" name="topNav_1" class="" data-reference="topNav" data-component="view" data-trigger="_initial_" tag="userDefined" style="height: 81px; flex-grow: 1;"></div>
      </div>
      <div data-component="row" class="trillo-container-row" nm="row_3" name="row_3" data-trigger="_initial_" tag="userDefined">
        <div data-component="column" class="trillo-container-column" nm="column_1" name="column_1">
          <div class="trillo-component card " nm="div_1" data-trigger="_initial_" tag="userDefined">
            <div class="card-body text-center">
              <h5 class="card-text">Calendar</h5>
            </div>
          </div>
          <div data-component="month" class="form-group" nm="month_1" data-trigger="_initial_"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
