<div class="trillo-form" name="UpdateContact" nm="UpdateContact" style="max-width:600px" width="80%" max-width="600px">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">person</i>
      </div>
      <h4 class="card-title">New Contact</h4>
    </div>
    <div class="card-body ">
      <form data-container="" class="">
        <div data-component="text" class="form-group" nm="firstName">
          <label data-label="" for="firstName">First Name</label>
          <input data-field="" type="text" class="form-control" nm="firstName">
        </div>
        <div data-component="text" class="form-group" nm="middleName">
          <label data-label="" for="middleName">Middle Name</label>
          <input data-field="" type="text" class="form-control" nm="middleName">
        </div>
        <div data-component="text" class="form-group" nm="lastName">
          <label data-label="" for="lastName">Last Name</label>
          <input data-field="" type="text" class="form-control" nm="lastName">
        </div>
        <div data-component="text" class="form-group" nm="jobTitle">
          <label data-label="" for="jobTitle">Job Title</label>
          <input data-field="" type="text" class="form-control" nm="jobTitle">
        </div>
        <div data-component="text" class="form-group" nm="parentCompany">
          <label data-label="" for="parentCompany">Parent Company</label>
          <input data-field="" type="text" class="form-control" nm="parentCompany">
        </div>
        <h4 data-component="h4" class="trillo-component title" nm="h4_1"> Address </h4>
        <div data-component="text" class="form-group" nm="addressLine1">
          <label data-label="" for="addressLine1">Address Line 1</label>
          <input data-field="" type="text" class="form-control" nm="addressLine1">
        </div>
        <div data-component="text" class="form-group" nm="addressLine2">
          <label data-label="" for="addressLine2">Address Line 2</label>
          <input data-field="" type="text" class="form-control" nm="addressLine2">
        </div>
        <div data-component="text" class="form-group" nm="addressLine3">
          <label data-label="" for="addressLine3">Address Line 3</label>
          <input data-field="" type="text" class="form-control" nm="addressLine3">
        </div>
        <div data-component="text" class="form-group" nm="addressCity">
          <label data-label="" for="addressCity">City</label>
          <input data-field="" type="text" class="form-control" nm="addressCity">
        </div>
        <div data-component="row_12Cols" data-row="" class="form-row">
          <div data-column="" class="col-md-6">
            <div data-component="text" class="form-group" nm="addressStateProvince">
              <label data-label="" for="addressStateProvince">State</label>
              <input data-field="" type="text" class="form-control" nm="addressStateProvince">
            </div>
          </div>
          <div data-column="" class="col-md-6">
            <div data-component="text" class="form-group" nm="addressZipPostalCode">
              <label data-label="" for="addressZipPostalCode">ZIP</label>
              <input data-field="" type="text" class="form-control" nm="addressZipPostalCode">
            </div>
          </div>
        </div>
        <div data-component="text" class="form-group" nm="addressCountry">
          <label data-label="" for="addressCountry">Country</label>
          <input data-field="" type="text" class="form-control" nm="addressCountry">
        </div>
        <div data-component="text" class="form-group" nm="email">
          <label data-label="" for="email">Email</label>
          <input data-field="" type="text" class="form-control" nm="email">
        </div>
        <div data-component="row_12Cols" data-row="" class="form-row">
          <div data-column="" class="col-md-6">
            <div data-component="text" class="form-group" nm="businessPhone">
              <label data-label="" for="businessPhone">Business Phone</label>
              <input data-field="" type="text" class="form-control" nm="businessPhone">
            </div>
          </div>
          <div data-column="" class="col-md-6">
            <div data-component="text" class="form-group" nm="mobilePhone">
              <label data-label="" for="mobilePhone">Mobile Phone</label>
              <input data-field="" type="text" class="form-control" nm="mobilePhone">
            </div>
          </div>
        </div>
      </form>
      <small class="form-control-feedback trillo-display-none js-field-error"></small>
      <small class="form-text text-muted trillo-display-none js-field-message"></small>
    </div>
    <div class="card-footer ml-auto mr-auto">
      <button type="button" class="btn btn-success" nm="ok">Save<div class="ripple-container"></div></button>
      <button type="button" class="btn btn-rose" nm="close">Close<div class="ripple-container"></div></button>
    </div>
  </div>
</div>
