<div class="sidebar has-drop-zone" data-color="rose" data-background-color="black" data-image="/$org_name$/test/static/img/cust.png" nm="sidebar" name="sidebar">
  <div class="logo">
    <a href="#" nm="home_" class="simple-text logo-mini">
      <img src="" nm="img_1">
    </a>
    <a href="#" nm="home_" class="simple-text logo-normal">
      Contacts &
      <br>
      Email Campaigns
    </a>
  </div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <i class="material-icons" style="color:#fff">person</i>
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username collapsed" nm="a_3" aria-expanded="false">
          <span>
            {{user.fullName}}
            <b class="caret" style="height: 2px; flex-grow: 0;"></b>
          </span>
        </a>
        <div class="collapse" id="collapseExample" style="">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#" nm="myProfile">
                <span class="sidebar-mini"> MP </span>
                <span class="sidebar-normal"> My Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" nm="a_5">
                <span class="sidebar-mini"> LO </span>
                <span class="sidebar-normal"> Log Out </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" href="#" nm="home_">
          <i class="material-icons">home</i>
          <p> Home </p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" nm="Contacts" trillo-selected-attr="selected">
          <i class="material-icons">contacts</i>
          <p> Contacts </p>
        </a>
      </li>
      <li class="nav-item trillo-display-none">
        <a class="nav-link" href="#" nm="Pages">
          <i class="material-icons">pages</i>
          <p> Newsletters </p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" nm="EmailTemplates">
          <i class="material-icons">email</i>
          <p> Email Templates </p>
        </a>
      </li>
      <li class="nav-item trillo-display-none">
        <a class="nav-link" href="#" nm="Docs">
          <i class="material-icons">folder</i>
          <p> Documents </p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" nm="Reports">
          <i class="material-icons">timeline</i>
          <p> Reports </p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" nm="Calendar">
          <i class="material-icons">date_range</i>
          <p> Calendar </p>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-background" style="background-image: url($org_name$/test/static/img/side-bar.jpg);"></div>
</div>