<div data-container="" class="trillo-container" name="test" nm="test" style="padding: 0px; display: flex; flex-direction: column; flex-grow: 1;">
  <div data-component="row" class="light-content-area main-row trillo-container-row" nm="row_1" name="mainRow" tag="templateE" style="flex-wrap: nowrap;">
    <div data-component="column" class="left-column trillo-container-column" nm="column_1" name="leftColumn" tag="templateE" style="flex-grow: 0;">
      <div data-component="row" class="trillo-container-row" nm="row_2" name="row_1">
        <div class="sidebar has-drop-zone" data-color="rose" data-background-color="black" data-image="$org_name$/test/static/img/sidebar-1.jpg" nm="sidebar" name="sidebar" data-reference="sidebar" data-component="view" data-trigger="_initial_" tag="userDefined" style="flex-grow: 1;"></div>
      </div>
    </div>
    <div data-component="column" class="trillo-container-column" nm="column_2" name="mainContentArea" tag="templateE">
      <div data-component="row" class="trillo-container-row" nm="row_3" name="row_2">
        <div nm="topNav" name="topNav" class="" data-reference="topNav" data-component="view" data-trigger="_initial_" tag="userDefined" style="height: 81px; flex-grow: 1;"></div>
      </div>
      <div data-component="row" class="trillo-container-row trillo-main-panel" nm="mainPanel" name="mainPanel" data-trigger="_initial_" tag="userDefined">
        <div nm="contactTbl" name="contactTbl" data-reference="contactTbl" data-component="view" data-trigger="_initial_/sidebar:Contacts" tag="userDefined" class="trillo-table" data-componenet="container" style="flex-grow: 1;"></div>
        <div nm="view_3" name="view_3" data-reference="Home" data-component="view" data-trigger="_initial_/home_" tag="userDefined" class="" style="flex-grow: 1;"></div>
      </div>
    </div>
  </div>
</div>
